<div class="jumbotron">
  <!--<div class="container text-center">-->
    <p><button id="authLogin" type="button" class="btn btn-danger">Take the Journey</button></p>
  <!--</div>-->
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="testPage.html">Home</a></li>
        <!-- <li><a id="authLogin" target="_blank">MEMBER LOGIN</a></li> -->
        <li><a href="https://guitarlanguage.github.io/GalacticFish/" target="_blank">GALACTIC FISH</a></li>
        <li><a href="https://guitarlanguage.github.io/triviaGame/"  target="_blank">GUITAR TRIVIA</a></li>
        <li><a href="https://guitarlanguage.github.io/busterTribute/" target="_blank">HEROES</a></li>
        <!-- <li><a href="#" target="_blank">SKYPE LESSON</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
          <li><button id="authLogin" type="button" class="btn btn-danger">Log in/Sign Up</button></li> -->
        <!-- <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="panel-heading text-center">Tune Up</div>
        <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/0O1EsQny_KM"  frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
          <div class="panel-heading text-center">Small Shapes Big Sounds</div>
          <div class="panel-body"><iframe class="img-responsive" style="width:100%"src="https://www.youtube.com/embed/xuv5aGV765E" frameborder="0" allowfullscreen></iframe>
        </div>
   </div>
    <div class="col-md-4">
          <div class="panel-heading text-center">Oh By Jingo</div>
            <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/WDYQ_3Ib808" frameborder="0" allowfullscreen></iframe>
          </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="panel-heading text-center">Sunny Tutorial</div>
        <div class="panel-body"><iframe style="width:100%" src="https://www.youtube.com/embed/oSWXZxi-dqM" frameborder="0" allowfullscreen></iframe></div>
    </div>

    <div class="col-md-4">
          <div class="panel-heading text-center">I Will Tutorial</div>
          <div class="panel-body"><iframe style="width:100%" src="https://www.youtube.com/embed/U1EIjWW_H1E" frameborder="0" allowfullscreen></iframe>
       </div>
   </div>

    <div class="col-md-4">
      <div class="panel-heading text-center">Blues Champion</div>
      <div class="panel-body"><iframe style="width:100%" src="https://www.youtube.com/embed/rihaU4KWoEY" frameborder="0" allowfullscreen></iframe></div>
    </div>

  </div>
</div>

<div class="container text center">
  <div class="row">
    <div class="col-md-4">
      <div class="panel-heading text-center">I'm Just a Bill</div>
      <div class="panel-body">
        <iframe style="width:100%" src="https://www.youtube.com/embed/SQ7jQ3mhUog" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4">

      <div class="panel-heading text-center">I Will Tutorial</div>
      <div class="panel-body">
        <iframe style="width:100%" src="https://www.youtube.com/embed/U1EIjWW_H1E" frameborder="0" allowfullscreen></iframe>

      </div>

    </div>

    <div class="col-md-4">

      <div class="panel-heading text-center">Sublime: What I Got solo</div>
      <div class="panel-body">
        <iframe style="width:100%" src="https://www.youtube.com/embed/KMqOf9tq3wc" frameborder="0" allowfullscreen></iframe>

      </div>
    </div>

  </div>
</div>
